# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Build
build/
dist/
*.egg-info/
wheels/

# Virtual environment
.venv/

# Environment variables
.env

# Allure
allure-results/
allure-report/

# IDE
.vscode/